@charset "UTF-8";

* { /* Configurações Globais */
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9AEBA3, #DAFDBA);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(69, 196, 177, 0.603);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #012030;
    text-align: center;
    text-shadow: 1px 1px 0px #0c71a3cb;
}

h2 {
    color: #13678A;
}

p {
    text-align: justify;
}
